<div class="services-container">
    <h4>{{ myServices.title }}</h4>
    <div class="grid-container">
        <ng-container *ngFor="let service of myServices.items">
            <div class="grid-item">
                <h5>{{ service.title }}</h5>
                <div>{{ service.description }}</div>
                <div>
                    <a href="#.">Read more</a>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="count-content">
        <div class="item">
            <fa-icon [icon]="google"></fa-icon>
            <h6>Google Firebase</h6>
        </div>
        <div class="item">
            <fa-icon [icon]="aws"></fa-icon>
            <h6>Amazon Web Services</h6>
        </div>
        <div class="item">
            <fa-icon [icon]="twitter"></fa-icon>
            <h6>Twitter Kit</h6>
        </div>
        <div class="item">
            <fa-icon [icon]="ads"></fa-icon>
            <h6>Google Ads</h6>
        </div>
        <div class="item">
            <fa-icon [icon]="bluetooth"></fa-icon>
            <h6>Core Bluetooth</h6>
        </div>
        <div class="item">
            <fa-icon [icon]="cart"></fa-icon>
            <h6>In-App Purchase</h6>
        </div>
        <div class="item">
            <fa-icon [icon]="health"></fa-icon>
            <h6>Health Kit</h6>
        </div>
      </div>
</div>