<div class="services-container">
    <h4>{{ myServices.title }}</h4>

    <div class="expertise">
        <ng-container *ngFor="let item of myServices.expertise">
            <div class="item">
                <fa-icon [icon]=getIcon(item.icon)></fa-icon>
                <h6>{{item.title}}</h6>
            </div>
        </ng-container>
    </div>
    
    <div class="grid-container">
        <ng-container *ngFor="let service of myServices.items">
            <div class="grid-item">
                <h5>{{ service.title }}</h5>
                <div>{{ service.description }}</div>
                <div>
                    <a href="#.">Read more</a>
                </div>
            </div>
        </ng-container>
    </div>
</div>