$box-bg-color: var(--box-background-color);
$theme-color: var(--theme-color);

.services-container {
    margin: 0px 30px;
    margin-bottom: 15px;
    background-color:transparent;
    
    .grid-container {
        background-color:transparent;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-row-gap: 30px;
        grid-column-gap: 30px;
        padding: 0px;
    }

    .grid-item {
        background-color: $box-bg-color;
        padding: 30px;
    }

    h5 {
        margin: 0px;
    }

    div {
        margin-top: 15px;
    }

    a{
        color: $theme-color;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 10px;
        letter-spacing: 1.5px;
        font-weight: 600;
    }

    .count-content {
        margin: 30px 0px;
        display: flex;
        justify-content: space-between;
      
        .item{
          align-items: center;
          font-size: 30px;
      
        }
        fa-icon{
            color: $theme-color;
        }
      }
      
}  