<div class="services-container">
    <h4>Services</h4>
    <div class="grid-container">
        <div class="grid-item">
            <h5>Web Development</h5>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus esse commodi deserunt vitae, vero quasi! Veniam quaerat tenetur pariatur doloribus.</div>
            <div>
                <a href="#.">Read more</a>
            </div>
        </div>
        <div class="grid-item">
            <h5>Web Development</h5>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus esse commodi deserunt vitae, vero quasi! Veniam quaerat tenetur pariatur doloribus.</div>
            <div>
                <a href="#.">Read more</a>
            </div>
        </div>
        <div class="grid-item">
            <h5>Web Development</h5>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus esse commodi deserunt vitae, vero quasi! Veniam quaerat tenetur pariatur doloribus.</div>
            <div>
                <a href="#.">Read more</a>
            </div>
        </div>
    </div>
</div>