<div class="content-container">
  <div class="content-background">
    <div class="content-overlay">
      <div class="banner">
        <div class="banner-Overlay">
          <div class="banner-title">
            <h1>Let's explore & build
            <br>
            Together!</h1>
            <p>I build iOS applications</p>
            <button class="button">GO DOWN</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="count-content">
    <div class="item">
      <span>4 +</span>
      <h6>Years Experience</h6>
    </div>
    <div class="item">
      <span>50</span>
      <h6>Completed Projects</h6>
    </div>
  </div>
  <app-my-services [myServices]="myServices"></app-my-services>
  <app-project [projects]="projects"></app-project>
  <app-history [history]="workHistory"></app-history>
  <app-history [history]="educationHistory"></app-history>
  <app-contact [contact]="contact"></app-contact>
  <app-connect-me></app-connect-me>
  <!-- Footer -->
  <footer>
    <div>
      © 2020 Catherine George
    </div>
  </footer>
</div>
