$background-color: var(--inner-background-color);
$line-color: var(--outer-background-color);
$box-bg-color: var(--box-background-color);
$theme-color: var(--theme-color);
$light-text-color: var(--content-light-text-color);
$date-box-bg-color: var(--box-date-background-color);

.history-container {
  margin: 0px 30px;
  margin-bottom: 15px;
  overflow-x: hidden;
  position: relative;

  .time-line {
    display: grid;
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    grid-template-rows: auto;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    padding: 8px 0px;
    position: relative;
  }

  .time-line::before {
    content: "";
    position: absolute;
    top: 28px;
    left: calc(50% - 2.5px);
    height: calc(100% - 36px);
    width: 5px;
    background: $line-color;
  }



  .time-line-content-left {
    background-color: $box-bg-color;
    padding: 30px;
    margin-right: 40px;
    position: relative;

  }

  .time-line-content-right {
    background-color: $box-bg-color;
    padding: 30px;
    margin-left: 40px;
    position: relative;

  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

  }
  .left {
    h5 {
      margin: 0px;
    }
    div {
      margin-top: 5px;
      color: $light-text-color;
      font-style: italic;
      font-size: 11px;
    }
  }

  .right {
    span{
      color: $light-text-color;
      background: $date-box-bg-color;
      padding: 5px 15px;
      border-radius: 15px;
      font-size: 10px;
    }

  }

  .time-line-content-left::after {
    height: 10px;
    width: 10px;
    background-color: $box-bg-color;
    transform: rotate(-135deg);
    content: "";
    position: absolute;
    top: 20px;
    right: -5px;
  }

  .time-line-content-right::after {
    height: 10px;
    width: 10px;
    background-color: $box-bg-color;
    transform: rotate(-135deg);
    content: "";
    position: absolute;
    bottom: 20px;
    left: -5px;
  }


}
.time-line-mark {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid 3px $theme-color;
  background: $background-color;
  box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}


.left-mark {
  right: -63px;
  top: 14px;
}

.right-mark {
  left: -63px;
  bottom: 14px;

}


@media (max-width: 768px) {
  .history-container{
      margin: 0px 15px;

      .time-line {
        display: grid;
        grid-template-columns: calc(100% - 15px);
        grid-template-rows: auto;
        grid-row-gap: 30px;
        grid-column-gap: 30px;
        padding: 8px 0px;
        position: relative;
      }

      .time-line::before {
        content: "";
        position: absolute;
        top: 28px;
        left: calc(100% - 10px);
        height: calc(100% - 36px);
        width: 5px;
        background: $line-color;
      }

      .time-line-content-left, .time-line-content-right {
        background-color: $box-bg-color;
        padding: 30px;
        margin-right: 20px;
        margin-left: 0px;
        position: relative;
    
      }

      .time-line-content-right::after {
        height: 10px;
        width: 10px;
        background-color: $box-bg-color;
        transform: rotate(-135deg);
        content: "";
        position: absolute;
        top: 20px;
        left: unset;
        right: -5px;
      }

    
  }

  .left-mark, .right-mark  {
    right: -35px;
    top: 14px;
    bottom: 0px;
    left: unset;

  }

}