<div class="history-container">
      <h4>{{ history.title }}</h4>
        <div class="time-line">
          <ng-container *ngFor="let item of history.items; let index = index">
            <div>
              <div *ngIf="index%2==0" class="time-line-content-left">
                <div class="time-line-mark left-mark">
                </div>
                <div class="header">
                  <div class="left">
                    <h5>{{item.title}}</h5>
                    <div>
                      {{item.subtitle}}
                    </div>
                  </div>
                  <div class="right">
                    <span>{{item.startDate}} - {{item.endDate}}</span>
                  </div>
                </div>
                <div>
                  {{item.description}}
                </div>
              </div>
              <div *ngIf="index%2==1" class="time-line-content-right">
                <div class="time-line-mark right-mark">
                </div>
                <div class="header">
                  <div class="left">
                    <h5>{{item.title}}</h5>
                    <div>
                      {{item.subtitle}}
                    </div>
                  </div>
                  <div class="right">
                    <span>{{item.startDate}} - {{item.endDate}}</span>
                  </div>
                </div>
                <div>
                  {{item.description}}
                </div>
              </div>
            </div>
          </ng-container>
      </div>

</div>
