<div class="contact-container">
  <h4>Contact information</h4>
  <div class="item-grid">
    <div class="item">
      <div>
        <h6>Country:</h6>
        <span>India</span>
      </div>
      <div>
        <h6>State:</h6>
        <span>Kerala</span>
      </div>
      <div>
        <h6>City:</h6>
        <span>Cochin</span>
      </div>
    </div>
    <div class="item">
      <div>
        <h6>Email:</h6>
        <span>catherinekg38@gmail.com</span>
      </div>
      <div>
        <h6>Skype:</h6>
        <span>catherinekg38</span>
      </div>
      <div>
        <h6>Mobile:</h6>
        <span>+91 9567615680</span>
      </div>
    </div>
  </div>
</div>
