$box-bg-color: var(--box-background-color);
$content-color: var(--content-text-color);

.contact-container {
  margin: 0px 30px;
  margin-bottom: 15px;
  overflow-x: hidden;

  .item-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
    padding: 8px 0px;
    margin-bottom: 30px;
  }

  .item {
    background-color: $box-bg-color;
    padding: 45px 30px;

    div {
      display: flex;
      justify-content: space-between;
      color: $content-color;
      padding-top: 5px;
    }
  }

}
