<div class="connect-container">
    <h4>Get in touch</h4>
    <form class="grid">
        <div class="item">
            
            <input id="name" type="text" placeholder="Name" required>
            <label for="name">
                <fa-icon [icon]="user" id="user"></fa-icon>
            </label>
        </div>
        <div class="item">
            <input id="email" type="text" placeholder="Email" required>
            <label for="email">
                <fa-icon [icon]="email" id="emailIcon"></fa-icon>
            </label>
        </div>
        <div class="item message">
            <textarea name="text" id="" placeholder="Message" required></textarea>
            <label for="message">
                <fa-icon [icon]="message" id="messageIcon"></fa-icon>
            </label>
        </div>
        <div class="item">
            <button type="button" class="button" (click)="onSubmit()">SEND MESSAGE</button>
        </div>
    </form>
</div>