$bg-color: var(--box-background-color);
$theme-color: var(--theme-color);
$button-text-color: var(--box-date-background-color);
$icon-bg-color: var(--box-date-background-color);
$input-text-color: var(--content-title-color);
.connect-container{
    margin: 0px 30px;
    margin-bottom: 30px;

    .grid {
        padding: 30px;
        display: grid;
        grid-template-rows: auto;
        row-gap: 30px;
        background-color: $bg-color;

    }

    .item {
        height: 50px;
        display: flex;
        position: relative;
    }

    label {
        width: 50px;
        background-color: $icon-bg-color;
        text-align: center;
        padding-top: 15px;
        position: absolute;
        left: 0px;
        height: calc(100% - 15px);
    }

    .message {
        height: 200px;
    }


    .button {
        font-size: 11px;
        padding: 0 35px;
        background: $theme-color;
        color: $button-text-color;
        letter-spacing: 1.5px;
        font-weight: 600;
        border: none;
        outline: none;
      }

    input {
        width: 100%;
        background-color:#252532;
        border: none;
        padding: 0px 65px;
        color: $input-text-color;
        margin: 0px;
        font-family:"Poppins", sans-serif;
        transition: all 0.3s ease;

        &:focus, &:active {
            outline: none;
            +label {
                color: black;
                background-color: $theme-color;
          }
        }

    }

    textarea {
        width: 100%;
        background-color:#252532;
        border: none;
        padding: 15px;
        padding-left: 65px;
        color: $input-text-color;
        margin: 0px;
        font-family:"Poppins", sans-serif;
        resize: none;
        transition: all 0.3s ease;

        &:focus, &:active {
            outline: none;
            +label {
                color: black;
                background-color: $theme-color;
          }
        }
    }




}

@media (max-width: 768px) {
    .connect-container{
        margin: 0px 15px;
        margin-bottom: 30px;
    }
}