<div class="connect-container">
    <div style="background-color: antiquewhite;">
        fdfdf
    </div>


    <div style="background-color:cadetblue" class="payment-container">
        <h6>Choose payment method</h6>
        <div class="payment-method-container">
            <div>
                <img src="../../assets/wallet1.png" alt="">
            </div>
            <div>
                <img src="../../assets/wallet1.png" alt="">
            </div>
            <div>
                <img src="../../assets/wallet1.png" alt="">
            </div>
        </div>
        <h6>Payment Summary</h6>
        <h6>December 2016</h6>
        <div class="charges-list-container">
            <div class="charge-item">
                <p>Rent amount</p>
                <p>1000 KD</p>
            </div>
            <div class="charge-item">
                <p>Transaction charges</p>
                <p>1KD</p>
            </div>
            <div class="charge-item">
                <p>Service amount</p>
                <p>20 KD</p>
            </div>
        </div>
        <hr>
        <div class="charge-item" style="color: black;">
            <p>Total amount</p>
            <p>1021 KD</p>
        </div>
        <hr>
        <div class="button-container">
            <button><span>PAY NOW</span></button>
        </div>
    </div>


    <div style="background-color:darkgray">
        fdhfsghmr
    </div>
</div>
