$bg-color: var(--box-background-color);
$theme-color: var(--theme-color);
$button-text-color: var(--box-date-background-color);
$icon-bg-color: var(--box-date-background-color);
$input-text-color: var(--content-title-color);
.connect-container{
    margin: 0px 30px;
    margin-bottom: 30px;

    .grid {
        padding: 30px;
        display: grid;
        grid-template-rows: auto;
        row-gap: 30px;
        background-color: $bg-color;

    }

    .item {
        height: 50px;
        display: flex;
        
    }

    .icon {
        width: 50px;
        background-color: $icon-bg-color;
        text-align: center;
        padding-top: 15px;

    }

    .message {
        height: 200px;
    }


    .button {
        font-size: 11px;
        padding: 0 35px;
        background: $theme-color;
        color: $button-text-color;
        letter-spacing: 1.5px;
        font-weight: 600;
        border: none;
      }

    input {
        width: 100%;
        background-color:#252532;
        border: none;
        padding: 0px 15px;
        color: $input-text-color;
        margin: 0px;
        font-family:"Poppins", sans-serif;

    }

    textarea {
        width: 100%;
        background-color:#252532;
        border: none;
        padding: 15px;
        color: $input-text-color;
        margin: 0px;
        font-family:"Poppins", sans-serif;

    }


    textarea:focus, input:focus{
        outline: none;
    }
}