<div class="connect-container">
    <h4>Get in touch</h4>
    <form class="grid">
        <div class="item">
            <div class="icon" id="name">
                <fa-icon [icon]="user" id="user"></fa-icon>
            </div>
            <input type="text" placeholder="Name" (change)="changeNameBG()" required>
        </div>
        <div class="item">
            <div class="icon" id="email">
                <fa-icon [icon]="email" id="emailIcon"></fa-icon>
            </div>
            <input type="text" placeholder="Email" (change)="changeEmailBG()" required>
        </div>
        <div class="item message">
            <div class="icon" id="message">
                <fa-icon [icon]="message" id="messageIcon"></fa-icon>
            </div>
            <textarea name="text" id="" placeholder="Message" (change)="changeMessageBG()" required></textarea>
        </div>
        <div class="item">
            <button class="button" (click)="onSubmit()">SEND MESSAGE</button>
        </div>
    </form>
</div>