$background-color: var(--inner-background-color);

.app-container {
  background: $background-color;
  height: 100%;
  display: grid;
  grid-template-columns: 290px auto; //removed menu bar 230-150 = 80
  margin: 0px;
}

app-content {
  overflow: auto;
}
