.info-bar-container{
  // background-color: orange;
  height: 100%;
  position: relative;
}

.social {
  position: absolute;
  bottom: 0px;
  background-color: #24242e;
  width: 100%;
  height: 50px;
}
