<div class="info-bar-container">

  <!-- Header with profile -->
  <div class="header">
    <img src="../../assets/profile.jpg" alt="">
    <h5>Catherine George</h5>
    <div class="sub-text">
      Mobile Application Developer
      <br>
      iOS | Freelancer
    </div>
  </div>

  <!-- Content with skills and CV -->
  <div class="content">

    <div class="basic-info">
      <div class="items">
        <h6>Residence:</h6><span>Canada</span>
      </div>
      <div class="items">
        <h6>City:</h6><span>Kochi</span>
      </div>
      <div class="items">
        <h6>Age:</h6><span>25</span>
      </div>
    </div>

    <div class="divider"></div>

    <div class="skill-list">
      <div>
        <fa-icon [icon]="faCheck"></fa-icon>
        <p>Xcode, Swift, Objective C</p>
      </div>
      <div>
        <fa-icon [icon]="faCheck"></fa-icon>
        <p>Rest API's, Google's Firebase</p>
      </div>
      <div>
        <fa-icon [icon]="faCheck"></fa-icon>
        <p>Sketch, App store, CI/CD</p>
      </div>
      <div >
        <fa-icon [icon]="faCheck"></fa-icon>
        <p>GIT Knowlegde</p>
      </div>
    </div>

    <div class="divider"></div>

    <div class="download-cv">
      Download CV
      <fa-icon [icon]="faDownload"></fa-icon>
    </div>
    
  </div>

  <!-- Footer with social links -->
  <div class="social">
    <a href="#linkedin"><fa-icon [icon]="linkedin"></fa-icon></a>
    <a href="#github"><fa-icon [icon]="faGithub"></fa-icon></a>
    <a href="#stackOverflow"><fa-icon [icon]="faStackOverflow"></fa-icon></a>
    <a href="#hackerrank"><fa-icon [icon]="faHackerrank"></fa-icon></a>
  </div>

</div>
