<div class="info-bar-container">

  <!-- Header with profile -->
  <div class="header">
    <img src="../../assets/profile.jpg" alt="">
    <h5>{{info.name}}</h5>
    <div class="sub-text">
      {{ info.title }}
      <br>
      {{ info.subtitle }}
    </div>
  </div>

  <!-- Content with skills and CV -->
  <div class="content">

    <div class="basic-info">
      <ng-container *ngFor="let info of info.contact">
        <div class="items">
          <h6>{{ info.key }}:</h6><span>{{ info.value }}</span>
        </div>
      </ng-container>
    </div>

    <div class="divider"></div>

    <div class="skill-list">
      <ng-container *ngFor="let skill of info.skills">
        <div>
          <fa-icon [icon]="faCheck"></fa-icon>
          <p>{{skill}}</p>
        </div>
      </ng-container>
    </div>

    <div class="divider"></div>

    <div class="download-cv">
      <a download="resume.pdf" target="_blank" href="/assets/Jithin-Resume.pdf">
        Download CV
      <fa-icon [icon]="faDownload"></fa-icon>
      </a>
    </div>
    
  </div>

  <!-- Footer with social links -->
  <div class="social">
    <a href="#linkedin"><fa-icon [icon]="linkedin"></fa-icon></a>
    <a href="#github"><fa-icon [icon]="faGithub"></fa-icon></a>
    <a href="#stackOverflow"><fa-icon [icon]="faStackOverflow"></fa-icon></a>
    <a href="#hackerrank"><fa-icon [icon]="faHackerrank"></fa-icon></a>
  </div>

</div>
