<div class="project-container">
  <h4>Projects</h4>
  <div class="masonry-with-columns" id="masonry-with-columns">
    <div>
      <img src="https://elanta.app/nazar/arter-demo/img/works/thumbnail/1.jpg" alt="">
    </div>
    <div>
      <img src="https://elanta.app/nazar/arter-demo/img/works/thumbnail/8.jpg" alt="">
    </div>
    <div>
      <img src="https://elanta.app/nazar/arter-demo/img/works/thumbnail/5.jpg" alt="">
    </div>
    <div>
      <img src="https://elanta.app/nazar/arter-demo/img/works/thumbnail/8.jpg" alt="">
    </div>
    <div>
      <img src="https://elanta.app/nazar/arter-demo/img/works/thumbnail/5.jpg" alt="">
    </div>
    <div>
      <img src="https://elanta.app/nazar/arter-demo/img/works/thumbnail/5.jpg" alt="">
    </div>
    <div>
      <img src="https://elanta.app/nazar/arter-demo/img/works/thumbnail/5.jpg" alt="">
    </div>
    <div>
      <img src="https://elanta.app/nazar/arter-demo/img/works/thumbnail/5.jpg" alt="">
    </div>
  </div>
</div>
