<div class="project-container">
  <h4>{{ projects.title }}</h4>
  <div class="masonry-with-columns" id="masonry-with-columns">
    <ng-container *ngFor="let project of projects.items">
      <div>
        <img src="https://elanta.app/nazar/arter-demo/img/works/thumbnail/1.jpg" alt="">
        <span class="description-hover">
          <span class="description">
            <h5>{{ project.title }}</h5>
            <span>
              {{ project.description }}
            </span>
            <span>
              <a href="#.">Read more</a>
            </span>
           </span>  
        </span>
      </div>
    </ng-container>
    
  </div>
  <div class="view-all">
    View all
    <fa-icon [icon]="chevron"></fa-icon>
  </div>
</div>

