<div class="project-container">
  <h4>Projects</h4>
  <div class="masonry-with-columns" id="masonry-with-columns">
    <div>
      <img src="https://elanta.app/nazar/arter-demo/img/works/thumbnail/1.jpg" alt="">
      <span class="description">
        <h5>Project title 1</h5>
        <span>
          Sit amet, consectetur adipisicing elit. Quas, architecto.
        </span>
        <span>
          <a href="#.">Read more</a>
        </span>
       </span>

    </div>
    <div>
      <img src="https://elanta.app/nazar/arter-demo/img/works/thumbnail/8.jpg" alt="">
      <span class="description">
        <h5>Project title 2</h5>
        <span>
          Sit amet, consectetur adipisicing elit. Quas, architecto.
        </span>
        <span>
          <a href="#.">Read more</a>
        </span>
       </span>

    </div>
    <div>
      <img src="https://elanta.app/nazar/arter-demo/img/works/thumbnail/5.jpg" alt="">
      <span class="description">
        <h5>Project title 3</h5>
        <span>
          Sit amet, consectetur adipisicing elit. Quas, architecto.
        </span>
        <span>
          <a href="#.">Read more</a>
        </span>

      </span>
    </div>
    <div>
      <img src="https://elanta.app/nazar/arter-demo/img/works/thumbnail/8.jpg" alt="">
      <span class="description">
        <h5>Project title 4</h5>
        <span>
          Sit amet, consectetur adipisicing elit. Quas, architecto.
        </span>
        <span>
          <a href="#.">Read more</a>
        </span>
      </span>

    </div>
    <div>
      <img src="https://elanta.app/nazar/arter-demo/img/works/thumbnail/5.jpg" alt="">
      <span class="description">
        <h5>Project title 5</h5>
        <span>
          Sit amet, consectetur adipisicing elit. Quas, architecto.
        </span>
        <span>
          <a href="#.">Read more</a>
        </span>
      </span>

    </div>
    <div>
      <img src="https://elanta.app/nazar/arter-demo/img/works/thumbnail/5.jpg" alt="">
      <span class="description">
        <h5>Project title 6</h5>
        <span>
          Sit amet, consectetur adipisicing elit. Quas, architecto.
        </span>
        <span>
          <a href="#.">Read more</a>
        </span>
      </span>

    </div>
    <div>
      <img src="https://elanta.app/nazar/arter-demo/img/works/thumbnail/5.jpg" alt="">
      <span class="description">
        <h5>Project title 7</h5>
        <span>
          Sit amet, consectetur adipisicing elit. Quas, architecto.
        </span>
        <span>
          <a href="#.">Read more</a>
        </span>

      </span>

    </div>
    <div>
      <img src="https://elanta.app/nazar/arter-demo/img/works/thumbnail/5.jpg" alt="">
      <span class="description">
        <h5>Project title 8</h5>
        <span>
          Sit amet, consectetur adipisicing elit. Quas, architecto.
        </span>
        <span>
          <a href="#.">Read more</a>
        </span>
      </span>

    </div>
    <div>
      <img src="https://elanta.app/nazar/arter-demo/img/works/thumbnail/5.jpg" alt="">
      <span class="description">
        <h5>Project title 9</h5>
        <span>
          Sit amet, consectetur adipisicing elit. Quas, architecto.
        </span>
        <span>
          <a href="#.">Read more</a>
        </span>
      </span>

    </div>
  </div>
</div>

<!-- <div class="project-container">
  <span class="description">
    <h5>Project title</h5>
    <span>
      Sit amet, consectetur adipisicing elit. Quas, architecto.
    </span>
    <a href="#.">Read more</a>

  </span>
</div> -->
