.project-container {
  margin: 0px 15px;
  overflow: hidden;

  h4 {
    margin-left:15px;
    margin-bottom: 15px;
  }
}

.masonry-with-columns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 1000px;

  div {
    flex: 1 0 auto;
    background: #EC985A;
    margin: 15px;
    width: calc((100% - 90px)/3);

  }
  @for $i from 1 through 36 {
    div:nth-child(#{$i}) {
      $h: (random(200) + 100) + px;
      height: $h;
      line-height: $h;
    }
  }
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
