/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

html{
  height: 98%;
}

body{
  margin: 1%;
  height: 98%;
  color: var(--content-text-color);
  background-color: var(--outer-background-color);
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
}

h1 {
  margin: 0px;
  color: var(--content-title-color);
}

h4 {
  color: var(--content-title-color);
  font-size: 17px;
  font-weight: 600;
  // margin-bottom: 30px;
  // margin-top: 0px;
}

h5 {
  color: var(--content-title-color);
  font-family:"Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.5px;
  margin: 10px;

}

h6 {
  font-size: 12px;
  font-weight: 400;
  color: var(--content-title-color);
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

:root  {

  --theme-color: violet; //#FFC107;
  --outer-background-color: rgb(196, 255, 196); //#191923
  --inner-background-color: rgb(80, 57, 57); // #1e1e28
  --bar-background-color: #7777e7; //#202029;
  --bar-header-footer-background-color: rgb(214, 214, 132); //#252532;
  --box-background-color: rgb(206, 253, 247); //#2d2d3a;
  --box-date-background-color: rgb(111, 226, 88);// #20202a;
  //Text colors
  --content-title-color: rgb(230, 61, 61); // #fafafc;
  --content-text-color: rgb(167, 211, 247); //#8c8c8e;
  --content-light-text-color: red;//#646466;
}